@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html,body,a{
  font-family: 'Roboto', sans-serif;
}
.font-os{
  font-family: 'Oswald', sans-serif;
}
.font-cr{
  font-family: 'Roboto Condensed', sans-serif;
}
#header{
  transition: 0.4s ease-in-out;
  z-index: 10000;
}
#hbtn{
  transition: top 0.2s ease-in-out;
}
.boder-p{
  padding:2px;
}
.boder-p2{
  padding:4px;
}
.gm-style .gm-style-iw-c{
  background:#FFF9EC !important;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.35) !important;
  border-radius:0px !important;
  max-width:300px !important;

  padding:4px  !important;
  
}
.gm-style-iw-d{
  overflow:hidden !important;
}

.gm-style .gm-style-iw-tc::after {
  background-color: #FFFAEC;
}
.gm-ui-hover-effect{
  background-color: #E1C388 !important;
right: 0 !important;
top: 0 !important;
opacity: 1 !important;
}
.golden-text{
  background-color: #E0BF62; 
  background-image: linear-gradient(to right, #CA9342 ,#E0BF62);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}/*-------------locmenux*/
.loc-menu-grid,.footer-loc-col-mess{
  column-count: 4;
  column-gap: 16px;
}
.loc-menu-box,.footer-loc-col-box-mess{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: masonry;
  margin-bottom: 12px;
  break-inside: avoid;
}

/*=========header design=========*/
.logo img{
  max-width:92px;
}
.main-content{
  
}
.menu-item a:hover{
  background-color: #E0BF62; 
  background-image: linear-gradient(45deg, #CA9342, #E0BF62);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.home-nav-search{
  width:40%;
}
.breadcum-list li:last-child a>.bitem>.bsep {
  display:none;
}

/*==============submenu design============*/
  .submenu-box{

   
    background-size: cover;
    background-position: center center;
  }
.submenu-item{
  margin: 8px 0px;
}
.submenu-item a .sub-link-txt{
  padding-bottom: 0px;
  border-bottom:1px solid transparent;
  transition: .4s;
  
}
.font-th{
  font-weight:300;
}
.submenu-item:hover a .sub-link-txt{
  border-bottom:1px solid #FFEFCD;
  color:#FFEFCD;
  transition: .4s;
}
.submenu-dropdown a:hover .sub-link-txt-sub{
  color:#FFEFCD;
}
/*==============submenu design end============*/
/*===========global location menu==============*/
.loc-menu{
  
 
  background-repeat: repeat;
  z-index:20000;
}
.loc-link .text-gray-500{
  color:#7b7b7b;
}
.loc-item:hover .golden-text{
  background-color: #E0BF62; 
  background-image: linear-gradient(45deg, #E0BF62,#CA9342);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.loc-item:hover .text-gold{
 
  color:#CA9342;
  
}
.loc-item:hover .text-gray-500 {
 
  color:#FFEFCD;
  transition: .4s;
  
}
/*===========global location menu==============*/

.footer-link{
  line-height:1.8;
  transition: .3s;
  color:#7b7b7b;
 }
.footer-link:hover{
 color:#FFEFCD;
 text-decoration: underline;
}
.usefull-link a{
  padding-bottom: 4px;
  transition: .3s;
 
  color: #7b7b7b;
}
.usefull-link a:hover{
 border-bottom:1px solid #FFEFCD;
 color:#FFEFCD;
 transition: .3s;
 
}
.hover-golden:hover{
  background-color: #E0BF62; 
  background-image: linear-gradient(to right, #E0BF62, #CA9342);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.footer-link:hover span{
  color: #E0BF62; 
}
.menu-icon-box:hover span{
  background-image: linear-gradient(to right,#E0BF62, #CA9342 );
}
.adv-btn{
  cursor:pointer;
}
.border-btn{
  padding: 2px;
}
.menu-close-1{
  top:0;
  left:50%;
  transform: rotate(45deg);
}
.menu-close-2{
  top:0;
  left:50%;
  transform: rotate(-45deg);
}

/*===============home page===========*/

.un-games{
  box-shadow: 0px 4px 8px rgba(216, 174, 84,0.45);
}
.paly-btn{
  background-color:#F2C667;
  box-shadow:inset 0px 4px 4px rgba(0,0,0,0.25);
  cursor: pointer;
  transition:.4s;
}
.paly-btn:hover{
 
  box-shadow:2px 2px 4px rgba(0,0,0,0.15);
  transition:.4s;
  cursor: pointer;
}
.home-hero{
  
  background-position: center !important;
background-size: cover !important;
}
.htb{
  
  background-position: top center,top center;
  background-size: cover,cover;
}
.htb-step{
  max-width: 100px;
  text-align:center;
}
.htb-bg-1{
  top: 16px;
left: 0;
transform: rotate(-30deg);

}
.htb-bg-1 img{
max-width:130px;
filter: opacity(44%);
}
.htb-bg-2{
    top:-64px;
    right:-64px;
    animation:spin 90s linear infinite;
}
.htb-bg-2 img{
  filter: opacity(24%);
  max-width:230px;
}
.htb-bg-3{
  bottom:10px;
  left:10px;
  
}
.htb-bg-3 img{
  filter: opacity(20%);
max-width:180px;
}
.htb-bg-4{
  bottom:10px;
  right:10px;

}
.htb-bg-4 img{
filter: opacity(20%);
max-width:140px;
}
.un-games{
  bottom:-56px;
  z-index: 50;
}
.vr-lt img{
  max-width:140px;
  filter:opacity(20%);
}
.vr-rt img{
  max-width:240px;
  filter:opacity(20%);
}
/*==============slider carousel design=======*/
.game-slider-card{
  background-size: cover !important;
  background-position: center center !important;
  transition: .4s;
}
.game-gallery-slider .react-multi-carousel-dot-list {
  position: unset;
}

.game-slider-card{
 
  box-shadow:1px 1px 8px 2px rgba(216, 174, 84,0.38);
  cursor: pointer;
}
.game-slider-card:hover{
  transform: scale(1.03);
  border:1px solid rgba(219, 181, 91,.9);
  box-shadow:1px 1px 8px 2px rgba(0, 0, 0,0.38);
}
.card-head{
  background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7),rgba(0,0,0,0.1));
}
.card-bottom{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.78),rgba(0,0,0,0.88),rgba(0,0,0,0.98));
}
.card-game-title{
  margin-bottom: 8px;
}
.card-game-desc{
  height:184px;
  overflow: hidden;
  margin-bottom: 16px;
}
.card-gap{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
}

.react-multi-carousel-dot{
  width:26px;
  height:6px;
  border-radius:0px;
  border:none;
 
}
.react-multi-carousel-dot button{
  width:24px !important;
  height:6px !important;
  margin-right:2px !important;
  border-radius:6px !important;
  border:0px !important;
  background-color: #353535;
  opacity:.5;
}
.react-multi-carousel-dot--active button {
  background-image: linear-gradient(to right, #CA9342 ,#E0BF62) !important;
}
.v-slider-home .react-multi-carousel-track {

  margin:auto !important;
}
.pysicalescapecarousel .react-multi-carousel-track {

  margin:auto !important;
}
.pysicalescape{
  background:#000000;
  
}
.physical-escape-dots{
  display:block ;
}
.vr-dots{
  display:block;
}
.vr-slider{
  
  background-size: cover ,cover;
  background-position: center center;
}
.py-lt{
  top:-60px;
}
.py-rt{
  top:-60px;
}
.py-lt img{
  max-width: 120px;
}
.py-rt img{
  max-width: 180px;
}
.planningevent{
  
  background-position: center center,center center;
  background-size: cover,cover;
}
.plan-title{
  height: 180px;
  overflow: hidden;
}

.pl-or-1 img{
  max-width: 240px;
}
.pl-or-2 img{
  max-width: 200px;
}
.pl-or-3 img{
  max-width: 220px;
}
.pl-or-4 img{
  max-width: 200px;
}
.event-card{
  box-shadow: 1px 1px 16px rgba(207, 157, 73,0.9);
  border: none;
}
.event-card:hover{
  box-shadow: 1px 1px 16px rgba(0,0,0,0.2);
  border: 1px solid red;

}
.event-card .card-game-desc {
  height: 124px;
  overflow: hidden;
}

.buy-gift{
  background-image: url('/assets/svg/gift-bg.svg'),linear-gradient(65deg,rgba(0, 0, 0,1),rgba(0, 0, 0,1));
  background-size: cover,cover;
  background-position: bottom center,bottom center;
}
.gift-rt{
  top:-40px;
  right:-40px;
  animation:spin 90s linear infinite;
}
.gift-rt img{
  max-width:190px;
  filter: grayscale(100%);
  opacity: .2;
}
.gift-lt img{
  max-width:220px;
 
}
.what-is-escape{
 
  background-position: center center,center center;
  background-size: cover,cover;
}
.what-is h2{
  color:rgba(44, 0, 0,.65);
}
.what-is p{
  color:rgba(44, 0, 0,.65);
}
.what-is .play-lt {

  background-image: linear-gradient(to right, #BE9452,#E1C388);
  box-shadow: inset 0px 4px 4px rgba(0,0,0,0.25);
  cursor: pointer;
  transition: .4s;
  color:rgba(44, 0, 0,.80);
}
.what-is .play-lt:hover {

  background-image: linear-gradient(to right,#E1C388, #BE9452);
  box-shadow: inset 4px 0px 2px rgba(0,0,0,0.25),1px 1px 4px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: .4s;
  color:rgba(44, 0, 0,1);
}
.what-is .play-rt {

  background-image: linear-gradient(to right,#E1C388, #BE9452);
  box-shadow: inset 0px 4px 4px rgba(0,0,0,0.25);
  cursor: pointer;
  transition: .4s;
 color:rgba(44, 0, 0,.80);
}
.what-is .play-rt:hover {

  background-image: linear-gradient(to right,#BE9452,#E1C388 );
  box-shadow: inset 4px 0px 2px rgba(0,0,0,0.25),1px 1px 4px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: .4s;
  color:rgba(44, 0, 0,1);
}
.homereview{
 
background-position: center center,center center;
background-size: cover,cover;
}
.card-img.review-img{
  background-image:linear-gradient(to bottom,rgba(0,0,0,0) 50%, #000000 50%);
}
.card-img.review-img img{
  box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

/*========== spin compas=======*/
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}
/*===========================================================individual game page design=============*/
.game-video-box{
  box-shadow:0px 0px 20px 0px rgba(0, 0, 0,.6);
  border:2px solid #D3A54F;
}
/*================event page design=========*/
/*==========contact fform======*/
.event-input{
  box-shadow:0px 1px #855800,1px 1px 2px rgba(0,0,0,0.12);
}
.core-card{
  box-shadow: 0px 1px #855800;
}
.core-card:hover{
  box-shadow: 0px 4px 4px rgba(0,0,0,0.24);
  cursor: pointer;
}
.partner-item{
  box-shadow: 0px 2px #373128;
}
.star-list li {
  list-style-image: url(/assets/svg/star-bullet.svg);
 
  padding-inline-start: .6ch;
}

.tab-btn-shadow{

  box-shadow:0px 2px 4px rgba(0,0,0,0.25);
}
.step-tab-item{
  transition:.3s ease-in;
  opacity: 1;
  animation:fadtab .8s linear;
  animation-iteration-count: 1;
}
@keyframes fadtab {
 0%{
  -webkit-opacity: .7; 
  opacity:0.7; 
 }
  100% { 
      -webkit-opacity: 1; 
      opacity:1; 
  } 
}

.dgency-copy{
  opacity: 0.4;
  animation:jap 2.6s linear infinite;
}
@keyframes jap {
  50% { 
    -webkit-opacity: 1; 
    opacity:1; 
} 
  100% { 
      -webkit-opacity: 0.4; 
      opacity:0.4; 
  } 
}

@media only screen and (max-width: 1480px) {
  .or-el-1{
    left:-3%;
    top:-8%;

  }
  .or-el-1 img{
    max-width: 70px;

  }
  .or-el-2{
    left:-5%;
    top:20%;

  }
  .or-el-2 img{
    max-width: 56px;

  }
  .or-el-3{
    left:-4%;
    top:56%;

  }
  .or-el-3 img{
    max-width: 32px;

  }
  .or-el-4{
    left:-4%;
    top:90%;

  }
  .or-el-4 img{
    max-width: 52px;

  }
  .or-el-5{
    right:26%;
    top:-3%;

  }
  .or-el-5 img{
    max-width: 32px;

  }
  .or-el-6{
    right:-5%;
    top:22%;

  }
  .or-el-6 img{
    max-width: 48px;

  }
  .or-el-7{
    right:-2%;
    top:52%;

  }
  .or-el-7 img{
    max-width: 18px;

  }
  .or-el-8{
    right:-1%;
    top:80%;

  }
  .or-el-8 img{
    max-width: 18px;

  }
  .or-el-9{
    right:10%;
    top:90%;

  }
  .or-el-9 img{
    max-width: 110px;

  }
  .or-el-10{
    left:30%;
    top:102%;

  }
  .or-el-10 img{
    max-width: 32px;

  }
  

}
@media only screen and (max-width: 1366px) {
  .inp-lt img{
    max-width:200px;
  }
  .inp-rt img{
    max-width:200px;
  }
  .inp-rb img{
    max-width:120px;
  }
  .inp-lb img{
    max-width:120px;
  }
  .paper-back-bg {
    max-width: 84% !important;
  }
  .what-is{
    max-width:47% !important;
  }
  .pl-or-1 img{
    max-width: 210px;
  }
  .pl-or-2 img{
    max-width: 180px;
  }
  .pl-or-3 img{
    max-width: 200px;
  }
  .pl-or-4 img{
    max-width: 180px;
  }
}
@media only screen and (max-width: 1170px) {
  .paper-back-bg {
    max-width: 98% !important;
  }
  .home-nav-search{
    width:auto;
  }
  .nav-search-r{
    margin-left:20px !important;
  }
}
@media only screen and (max-width: 1000px) {
  .home-nav-search {
    width: 60%;
  }
  .main-content{
   
  }
  .physical-escape-dots{
    display:flex !important;
  }
}

@media only screen and (max-width: 900px) {
  .loc-menu-grid,.footer-loc-col-mess{
    column-count: 2;
    column-gap: 40px;
  }
  .htb-step {
    max-width: 80px;
    text-align: center;
  }
  .htb-bg-1 img {
    max-width: 100px;
   
  }
  .htb-bg-2 img {
    max-width: 180px;
  
  }
  .htb-bg-3 img {
    max-width: 100px;
  
  }
  .htb-bg-4 img {
    max-width: 100px;
  
  }
  .inp-lt img{
    max-width:160px;
  }
  .inp-rt img{
    max-width:160px;
  }
  .inp-rb img{
    max-width:80px;
  }
  .inp-lb img{
    max-width:80px;
  }
  .or-el-1{
    left:0%;
    top:-8%;

  }
  .or-el-1 img{
    max-width: 48px;

  }
  .or-el-2{
    left:-2%;
    top:20%;

  }
  .or-el-2 img{
    max-width: 28px;

  }
  .or-el-3{
    left:-2%;
    top:56%;

  }
  .or-el-3 img{
    max-width: 24px;

  }
  .or-el-4{
    left:-2%;
    top:94%;

  }
  .or-el-4 img{
    max-width: 40px;

  }
  .or-el-5{
    right:26%;
    top:-6%;

  }
  .or-el-5 img{
    max-width: 24px;

  }
  .or-el-6{
    right:-2%;
    top:20%;

  }
  .or-el-6 img{
    max-width: 28px;

  }
  .or-el-7{
    right:-1%;
    top:52%;

  }
  .or-el-7 img{
    max-width: 14px;

  }
  .or-el-8{
    right:-1%;
    top:80%;

  }
  .or-el-8 img{
    max-width: 18px;

  }
  .or-el-9{
    right:10%;
    top:90%;

  }
  .or-el-9 img{
    max-width: 70px;

  }
  .or-el-10{
    left:30%;
    top:102%;

  }
  .or-el-10 img{
    max-width: 20px;

  }
  .pl-or-1 img{
    max-width: 180px;
  }
  .pl-or-2 img{
    max-width: 140px;
  }
  .pl-or-3 img{
    max-width: 180px;
  }
  .pl-or-4 img{
    max-width: 140px;
  }
  .wcp-list-text p{
    font-size:16px;
  }
}
@media only screen and (max-width: 768px) {
  .un-games {
    bottom: -32px;
    z-index: 30;
    
  }
  .htb-text{
    font-size:12px;
  }
  
 
}
@media only screen and (max-width: 767px) {


  .home-hero {
    background-image: unset !important;
    background-color: #000000 !important;
    
  }
 
  .un-games {
    max-width:92%;
    
  }
  .home-hero-container{
    margin-top:-20%;
    
  }
  .menu-icon-box span{
    width:22px;
    height:3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .menu-icon-box {
    padding-top:6px;
    padding-bottom: 6px;
  }
  .paper-back-bg {
    max-width: 500px !important;
  }
  .what-is {
    max-width: 90% !important;
    
  }
  .what-is-2 {
    
    margin-top: 60px !important;
  }
  .footer-link {
    line-height: 1.9;
    
    font-size: 16px;
  }
  .usefull-link a {
    padding-bottom: 2px;
   
    font-size: 15px;
  }
  .usefull-link {
    padding-bottom: 10px;
  
  }
}
@media only screen and (max-width: 640px) {
  .vr-dots{
    display:flex !important;
  }
  .htb-step-line{
    max-width:20%;
  }
  .htb-step{
    max-width:20%;
  }
  .htb-icon{
      max-width: 60px;
      margin: auto;
  }
  .htb-text{
    margin-bottom:12px;
  }
}

@media only screen and (max-width: 500px) {
 
  .loc-menu-grid,.footer-loc-col-mess{
    column-count: 1;
    column-gap: 10px;
  }
  .logo a img{
    max-height:52px;
  }
 
  .loc-menu-col{
    max-width:260px;
  }
  .home-nav-search {
    width: auto;
  }
  .inp-lt img{
    max-width:100px;
  }
  .inp-rt img{
    max-width:100px;
  }
  .inp-rb img{
    max-width:70px;
  }
  .inp-lb img{
    max-width:70px;
  }
  .py-lt img {
    max-width: 80px;
  }
  .py-rt img {
    max-width: 100px;
  }
 .gift-rt img {
    max-width: 120px;
    
  }
  .gift-lt img {
    max-width: 140px;
  }
  .what-is {
    max-width: 92% !important;
    
  }
  .paper-back-bg{
    padding: 0px 4px !important;
  }

  .or-el-1{
    left:1%;
    top:8%;

  }
  .or-el-1 img{
    max-width: 42px;

  }
  .or-el-2{
    left:1%;
    top:60%;

  }
  .or-el-2 img{
    max-width: 24px;

  }
  .or-el-3{
    left:1%;
    top:30%;

  }
  .or-el-3 img{
    max-width: 16px;

  }
  .or-el-4{
    left:4%;
    top:94%;

  }
  .or-el-4 img{
    max-width: 40px;

  }
  .or-el-5{
    display: none;

  }
  
  .or-el-6{
    right:12%;
    top:-7%;

  }
  .or-el-6 img{
    max-width: 28px;

  }
  .or-el-7{
    right:2%;
    top:56%;

  }
  .or-el-7 img{
    max-width: 12px;

  }
  .or-el-8{
    left:12%;
    top:-8%;

  }
  .or-el-8 img{
    max-width: 18px;

  }
  .or-el-9{
    right:10%;
    top:94%;

  }
  .or-el-9 img{
    max-width: 60px;

  }
  .or-el-10{
    left:30%;
    top:102%;

  }
  .or-el-10 img{
    max-width: 18px;

  }
  .what-is p {
   
    font-size: 16px;
    line-height: 1.5;
  }
  .pl-or-1 img{
    max-width: 110px;
  }
  .pl-or-2 img{
    max-width: 100px;
  }
  .pl-or-3 img{
    max-width: 100px;
  }
  .pl-or-4 img{
    max-width: 100px;
  }
  .what-is p {
   
    font-size: 16px;
    line-height: 1.5;
  }
  .home-nav-search {
    width: 66%;
  }
}
@media only screen and (max-width: 380px) {
  
  .logo a img{
    max-height:40px;
  }
 
  .what-is-2 {
    
    margin-top: 32px !important;
  }
  .htb-text {
    margin-bottom: 28px;
    font-size: 10px;
    margin-top: 4px;
  }
  .htb-step h3{
    margin-top: 4px;
    font-size: 26px;
  }
  #hbtn{
    top:60px
  }
 
}
@media only screen and (max-width: 370px) {
  .what-is {
    max-width: 96% !important;
    
  }
  .what-is h2{
   font-size: 16px;
    
  }
  .what-is a{
    font-size: 12px;
    font-weight:600;
     
   }
  .what-is-2 {
    margin-top: 16px !important;
  }
  .paper-back-bg{
    padding: 0px 0px !important;
  }
  .nav-search-r {
    margin-left: 8px !important;
  }
  .what-is p {
   
    font-size: 14px;
    line-height: 1.4;
  }
  .header-notice-box p{
    font-size:10px;
  }
  .header-notice-box a{
    font-size:10px;
  }
}
@media only screen and (max-width: 340px) {
  .what-is h2 {
    font-size: 15px;
  }
  
}
