@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');


html,body,a{
  font-family: 'Roboto', sans-serif;
}
.font-os{
  font-family: 'Oswald', sans-serif;
}
.boder-p{
  padding:2px;
}
.golden-text{
  background-color: #E0BF62; 
  background-image: linear-gradient(to right, #CA9342 ,#E0BF62);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
/*=========header design=========*/
.logo img{
  max-width:92px;
}
.menu-item a:hover{
  background-color: #E0BF62; 
  background-image: linear-gradient(45deg, #CA9342, #E0BF62);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
/*==============submenu design============*/
  .submenu-box{

    background-image:url(../public/assets/submenu-bg.png),linear-gradient(#111111,#111111);
    background-size: cover;
    background-position: center center;
  }
.submenu-item{
  margin: 8px 0px;
}
.submenu-item a .sub-link-txt{
  padding-bottom: 0px;
  border-bottom:1px solid transparent;
  transition: .4s;
  
}
.submenu-item:hover a .sub-link-txt{
  border-bottom:1px solid #FFEFCD;
  color:#FFEFCD;
  transition: .4s;
}
.submenu-dropdown a:hover .sub-link-txt-sub{
  color:#FFEFCD;
}
/*==============submenu design end============*/
/*===========global location menu==============*/
.loc-menu{
  background-image:url(../public/assets/submenu-bg.png),linear-gradient(#111111,#111111);
 
  background-repeat: repeat;
  z-index:20000;
}
.loc-item:hover .golden-text{
  background-color: #E0BF62; 
  background-image: linear-gradient(45deg, #E0BF62,#CA9342);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.loc-item:hover .text-gold{
 
  color:#CA9342;
  
}
.loc-item:hover .text-gray-500 {
 
  color:#FFEFCD;
  transition: .4s;
  
}
/*===========global location menu==============*/

.footer-link{
  line-height:1.8;
  transition: .3s;
 }
.footer-link:hover{
 color:#FFEFCD;
 text-decoration: underline;
}
.usefull-link a{
  padding-bottom: 4px;
  transition: .3s;
}
.usefull-link a:hover{
 border-bottom:1px solid #FFEFCD;
 color:#FFEFCD;
 transition: .3s;
 
}
.hover-golden:hover{
  background-color: #E0BF62; 
  background-image: linear-gradient(to right, #E0BF62, #CA9342);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.footer-link:hover span{
  color: #E0BF62; 
}
.menu-icon-box:hover span{
  background-image: linear-gradient(to right,#E0BF62, #CA9342 );
}
.adv-btn{
  cursor:pointer;
}
.border-btn{
  padding: 2px;
}
.menu-close-1{
  top:0;
  left:50%;
  transform: rotate(45deg);
}
.menu-close-2{
  top:0;
  left:50%;
  transform: rotate(-45deg);
}

/*===============home page===========*/
.un-games{
  box-shadow: 0px 4px 8px rgba(216, 174, 84,0.45);
}
.paly-btn{
  background-color:#F2C667;
  box-shadow:inset 0px 4px 4px rgba(0,0,0,0.25);
  cursor: pointer;
  transition:.4s;
}
.paly-btn:hover{
 
  box-shadow:2px 2px 4px rgba(0,0,0,0.15);
  transition:.4s;
  cursor: pointer;
}
.home-hero{
  background-image: url(../public/assets/homebaner.png);
  background-position: center center;
  background-size: cover;
}
.htb{
  background-image:  linear-gradient(65deg,rgba(255, 249, 235,.7),rgba(255, 249, 235,.7)),url('../public/assets/svg/htb-bg.svg');
  background-position: center center,center center;
  background-size: cover,cover;
}
.htb-step{
  max-width: 100px;
  text-align:center;
}
.htb-bg-1{
  top: 16px;
left: 0;
transform: rotate(-30deg);

}
.htb-bg-1 img{
max-width:130px;
filter: opacity(44%);
}
.htb-bg-2{
    top:-64px;
    right:-64px;
    animation:spin 90s linear infinite;
}
.htb-bg-2 img{
  filter: opacity(24%);
  max-width:230px;
}
.htb-bg-3{
  bottom:10px;
  left:10px;
  
}
.htb-bg-3 img{
  filter: opacity(20%);
max-width:180px;
}
.htb-bg-4{
  bottom:10px;
  right:10px;

}
.htb-bg-4 img{
filter: opacity(20%);
max-width:140px;
}
.un-games{
  bottom:-56px;
  z-index: 50;
}
.vr-lt img{
  max-width:140px;
  filter:opacity(20%);
}
.vr-rt img{
  max-width:240px;
  filter:opacity(20%);
}
/*==============slider carousel design=======*/
.game-slider-card{
  background-size: cover !important;
  background-position: center center !important;
  transition: .4s;
}
.card-head{
  background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7),rgba(0,0,0,0.1));
}
.card-bottom{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.78),rgba(0,0,0,0.88),rgba(0,0,0,0.98));
}
.card-game-title{
  margin-bottom: 8px;
}
.card-game-desc{
  max-height:140px;
  overflow: hidden;
}
.card-gap{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
}
.game-slider-card:hover{
  transform: scale(1.02);
  box-shadow:1px 1px 8px 2px rgba(216, 174, 84,0.38);
  cursor: pointer;
}
.react-multi-carousel-dot{
  width:26px;
  height:6px;
  border-radius:0px;
  border:none;
 
}
.react-multi-carousel-dot button{
  width:24px !important;
  height:6px !important;
  margin-right:2px !important;
  border-radius:6px !important;
  border:0px !important;
  background-color: #353535;
  opacity:.5;
}
.react-multi-carousel-dot--active button {
  background-image: linear-gradient(to right, #CA9342 ,#E0BF62) !important;
}
.pysicalescapecarousel .react-multi-carousel-track {

  margin:auto !important;
}
.pysicalescape{
  background-image:linear-gradient(65deg,rgba(0, 0, 0,.40),rgba(0, 0, 0,.30)),url('../public/assets/svg/pyescape-bg.svg');
  background-size: cover ,cover;
  background-position: center center;
}
.py-lt{
  top:-60px;
}
.py-rt{
  top:-60px;
}
.py-lt img{
  max-width: 120px;
}
.py-rt img{
  max-width: 180px;
}
.planningevent{
  background-image:  linear-gradient(65deg,rgba(255, 249, 235,.7),rgba(255, 249, 235,.7)),url('../public/assets/svg/htb-bg.svg');
  background-position: center center,center center;
  background-size: cover,cover;
}
.plan-title{
  height: 180px;
  overflow: hidden;
}
.buy-gift{
  background-image:url('../public/assets/svg/gift-bg.svg'),linear-gradient(65deg,rgba(0, 0, 0,.94),rgba(0, 0, 0,.99));
  background-size: cover,cover;
  background-position: bottom center,bottom center;
}
.gift-rt{
  top:-40px;
  right:-40px;
  animation:spin 90s linear infinite;
}
.gift-rt img{
  max-width:190px;
  filter: grayscale(100%);
  opacity: .2;
}
.gift-lt img{
  max-width:220px;
 
}
/*========== spin compas=======*/
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}
@media only screen and (max-width: 1366px) {
  .inp-lt img{
    max-width:200px;
  }
  .inp-rt img{
    max-width:200px;
  }
  .inp-rb img{
    max-width:120px;
  }
  .inp-lb img{
    max-width:120px;
  }
}
@media only screen and (max-width: 900px) {
  .htb-step {
    max-width: 80px;
    text-align: center;
  }
  .htb-bg-1 img {
    max-width: 100px;
   
  }
  .htb-bg-2 img {
    max-width: 180px;
  
  }
  .htb-bg-3 img {
    max-width: 100px;
  
  }
  .htb-bg-4 img {
    max-width: 100px;
  
  }
  .inp-lt img{
    max-width:160px;
  }
  .inp-rt img{
    max-width:160px;
  }
  .inp-rb img{
    max-width:80px;
  }
  .inp-lb img{
    max-width:80px;
  }
}
@media only screen and (max-width: 768px) {
  .un-games {
    bottom: -32px;
    z-index: 50;
  }
  .htb-text{
    font-size:12px;
  }
}

@media only screen and (max-width: 500px) {
  .logo a img{
    max-height:52px;
  }
  .sep{
    max-width:248px;
  }
  .loc-menu-col{
    max-width:260px;
  }
  .inp-lt img{
    max-width:140px;
  }
  .inp-rt img{
    max-width:140px;
  }
  .inp-rb img{
    max-width:70px;
  }
  .inp-lb img{
    max-width:70px;
  }
}
@media only screen and (max-width: 380px) {
  .logo a img{
    max-height:40px;
  }
  .menu-icon-box{
    padding: 6px;
  }
}